@import "tailwindcss";

body{
  cursor: none;
  font-family: var(--font-minecraft);
  background-color: #0F172A; /* Replace with your --tw-color-background if using custom Tailwind colors */
}

.title-font{
  font-family: var(--font-rajdhani);
  font-style: italic;
}

/* navbar */
.nav-pixel {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  border-bottom-width: 2px;
  border-color: transparent;
  padding: 0 0.5rem 0.25rem 0.5rem; 
  transition-property: all;
  transition-duration: 300ms;
}
.nav-pixel:hover {
  border-color: white; /* Replace this with your --tw-color-primary if using custom Tailwind colors */
}


.card-pixel {
  background-color: #0f172a;
  border: 1px solid #334155;
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(100, 100, 255, 0.1);
}

.skill-tag {
  background-color: #1e293b;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #d1d5dc;
  border: 1px solid #334155;
  text-align: center;
  animation: fadeInUp 0.5s ease-in-out both;
}

/* Optional animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* btn n card */
.btn-pixel {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em; 
  border-width: 0.5px;
  border-color: #d1d5dc;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem; 
  padding-bottom: 0.75rem;
  transition-property: all;
  transition-duration: 200ms;
  cursor: pointer;
}
.btn-pixel:hover {
  box-shadow: 4px 4px 0px 0px white;
}

.card-pixel {
  border-radius: 0;
  border-width: 1px;
  border-color: hsl(var(--border));
  background-color: hsl(var(--card));
  padding: 1.5rem; /* p-6 */
  transition-property: all;
  transition-duration: 300ms;
}

.card-pixel:hover {
  border-color: hsl(var(--primary));
  box-shadow: 4px 4px 0px 0px white;
  transform: translateX(-0.25rem) translateY(-0.25rem);
}


/* hero_text */
.shiny-text {
  color: #f7f7f7a6; 
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
  font-family: var(--font-ms-madi);
  font-size: 100px;
  /* font-style: italic; */
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
.shiny-text.disabled {
  animation: none;
}





